<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="w-full md:w-4/1 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="../../../assets/img/1.png"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h2 class="text-xl font-bold text-white">
                Empeño SAGA
              </h2>
              <p class="text-md font-light mt-2 text-white" style="text-align: justify;">
                Cada día, cada colaborador de SAGA aporta su mayor esfuerzo en cada tarea que realiza, a fin de poder darle al cliente una satifaccion con el manejo del sistema y que pueda disfrutar de su libro preferido por medio del préstamo de este. 
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="w-full md:w-4/1 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="../../../assets/img/2.png"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h2 class="text-xl font-bold text-white">
                Dedicación SAGA
              </h2>
              <p class="text-md font-light mt-2 text-white" style="text-align: justify;">
                Siempre damos lo mejor de nosotros para que nuestros clientes apasionados por la lectura realicen su préstamo de la mejor manera y en el menor tiempo posible. 
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="w-full md:w-4/1 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="../../../assets/img/3.png"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h2 class="text-xl font-bold text-white">
                Compromiso SAGA
              </h2>
              <p class="text-md font-light mt-2 text-white" style="text-align: justify;">
                Nuestra mayor meta como equipo de desarrollo es presentar a cada usuario un Sitio Web que brinde y solvente las expectativas 
                de cada visita que se realice. Haz tu préstamo, Disfruta y Comparte. 
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
