<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-no-wrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-no-wrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-gray-700 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class="block sm:hidden">
        Tailwind Angular
      </span>
      <img src="assets/img/Logo2.png"/>
    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <app-notification-dropdown class="block"></app-notification-dropdown>
      </li>
      <li class="inline-block relative">
        <app-user-dropdown class="block"></app-user-dropdown>
      </li>
    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-gray-300"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-gray-700 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0"
            >
              Notus Angular
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            class="px-3 py-2 h-12 border border-solid border-gray-600 placeholder-gray-400 text-gray-700 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
          />
        </div>
      </form>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h5
        class="md:min-w-full text-gray-600 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Navegación
      </h5>
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none">      
        <li class="items-center">
          <a
            [routerLink]="['/admin/usuario']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminusuario="routerLinkActive"
            [ngClass]="
              adminusuario.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-user mr-2 text-sm"
              [ngClass]="adminusuario.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Usuario
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/autor']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminautor="routerLinkActive"
            [ngClass]="
              adminautor.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-feather-alt mr-2 text-sm"
              [ngClass]="adminautor.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Autor
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/editorial']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #admineditorial="routerLinkActive"
            [ngClass]="
              admineditorial.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-newspaper mr-2 text-sm"
              [ngClass]="admineditorial.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Editorial
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/categoria']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #admincategoria="routerLinkActive"
            [ngClass]="
              admincategoria.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-boxes mr-2 text-sm"
              [ngClass]="admincategoria.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Categoría
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/libro']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminlibro="routerLinkActive"
            [ngClass]="
              adminlibro.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-book mr-2 text-sm"
              [ngClass]="adminlibro.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Libro
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/admin/inventario']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminInventario="routerLinkActive"
            [ngClass]="
              adminInventario.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-dolly-flatbed mr-2 text-sm"
              [ngClass]="adminInventario.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Inventario
          </a>
        </li>        
        <li class="items-center">
          <a
            [routerLink]="['/admin/admin-prestamo']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminAdminPrestamo="routerLinkActive"
            [ngClass]="
              adminAdminPrestamo.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-bookmark mr-2 text-sm"
              [ngClass]="adminAdminPrestamo.isActive ? 'opacity-75' : 'text-gray-400'"
            ></i>
            Préstamo
          </a>
        </li>
      </ul>      
    </div>
  </div>
</nav>
