<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style=" background-image: url('../../../assets/img/index.jpg');"
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 style="font-weight:bold; font-size:40px; color:white;">
              Préstamo de libros SAGA
              </h1>
              <p class="mt-4 text-lg text-gray-300">
                Encuentra los mejores libros en este lugar, agrega una nueva historia a tu vida con la calidad que solo SAGA ofrece... ¡Disfruta!
              </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto"> 
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h2 class="text-xl font-semibold">Excelencia y Calidad</h2>
              <p class="mt-2 mb-4 text-gray-600">
                Te brindamos la mayor y más excelente calidad en cuanto a servicio y experiencia de usuario. Además, nuestro libros presentan el mejor estado físico de cualquier otro sitio. 
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h2 class="text-xl font-semibold">Vanguardia y Profesionalismo</h2>
              <p class="mt-2 mb-4 text-gray-600">
                Actualizamos los libros para su préstamo según sea la tendencia que éstos presenten. Mejoramos solo para ti. 
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h2 class="text-xl font-semibold">Seguridad y Confianza</h2>
              <p class="mt-2 mb-4 text-gray-600">
                Ofrecemos la mejor seguridad para la realización de tu préstamo. Tu información es un elemento de suma importacia para nosotros. 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h1 class="text-3xl mb-2 font-semibold leading-normal">
            Nuestro equipo
          </h1>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700" style="text-align: justify;">
            Somos un grupo que mantiene su excelencia desde 2017. Enfocadas en la mejora continua, actualización
            de normas de seguridad y amantes desde las entreñas a la lectura, decidimos crear este sitio para 
            aquellos/as que comparten nuestra misma pasión y pasatiempo. 
          </p>
          <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700" style="text-align: justify;">
            Actualmente somos estudiantes de Ingeniería en Sistemas de Información, de la prestigiosa Universidad Centroamericana UCA. 
            Sistemas Distribuidos es una de las clases que tuvimos la dicha de cursar, de la cual hemos aprendido lo
            necesario, de mano del Ing. Jorge Morales, para el desarrollo de éste sitio y cada parte que se 
            logre apreciar. Nuestro mayor anhelo es que disfrutes tanto de la estadía en este sitio como nosotras.   
          </p>
          <a class="font-bold text-gray-800 mt-8">
            Gracias por estar con nosotras.
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="../../../assets/img/grupoSAGA.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h2 class="text-xl font-bold text-white">
                Más acerca de SAGA
              </h2>
              <p class="text-md font-light mt-2 text-white" style="text-align: justify;">
                Nuestra mayor meta como equipo de desarrollo es presentar a cada usuario un Sitio Web que brinde y solvente las expectativas 
                de cada visita que se realice. Haz tu préstamo, Disfruta y Comparte. 
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Imágenes Libros-->
  <section class="pb-20 relative block bg-gray-900">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>    
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h1 class="text-4xl font-semibold text-white" style="font-size: 30px; font-weight: bold;">
          Libros en SAGA
        </h1>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          Una selección a detalle de nuestros libros más buscados. 
        </p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
            <img class="mx-auto max-w-190-px" src="../../../assets/img/portada1.jpg" alt="..." class="shadow-lg rounded max-w-full h-auto align-middle border-none" />
          <div class="pt-6 text-center">
            <h1 class="text-xl font-bold text-white">El cuaderno de Maya</h1>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
             Por Isabel Allende
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
            <img class="mx-auto max-w-190-px" src="../../../assets/img/portada2.jpg" alt="..." class="shadow-lg rounded max-w-full h-auto align-middle border-none" />
          <div class="pt-6 text-center">
            <h1 class="text-xl font-bold text-white">El canto del lobo</h1>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
              Por T. J. Klune
             </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
            <img class="mx-auto max-w-190-px" src="../../../assets/img/portada3.jpg" alt="..." class="shadow-lg rounded max-w-full h-auto align-middle border-none" />
          <div class="pt-6 text-center">
            <h1 class="text-xl font-bold text-white">Cress</h1>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
              Por Marissa Meyer
             </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
            <img class="mx-auto max-w-190-px" src="../../../assets/img/portada4.jpg" alt="..." class="shadow-lg rounded max-w-full h-auto align-middle border-none" />
          <div class="pt-6 text-center">
            <h1 class="text-xl font-bold text-white">El retrato de Dorian Gray</h1>
            <p class="mt-1 text-sm text-gray-500 font-semibold">
              Por Oscar Wilde
             </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Libros Fin-->

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="../../../assets/img/editorial.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h1 class="text-3xl font-semibold">Editoriales</h1>
            <p class="mt-4 text-lg leading-relaxed text-gray-600" style="text-align: justify;">
              Las editoriales asociadas a SAGA se destacan cada una particularmente y 
              están dotadas de una serie de rasgos que las hace únicas y confiables en cada libro que te ofrecemos.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                      Tipografía asociada al libro
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                      Calidad en cada página
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">Diseño original y amigable</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-2">
          <h1 style=" font-size:35px;" >Conoce a los mejores autores del sitio</h1>
          <p class="text-lg leading-relaxed m-4 text-gray-600">
            Los autores más aclamados dentro de este sitio web los encontrarás a continuación. Destacados por su particularidad
            y tacto al redactar sus espectaculares historas y ganarse a la vez el corazón de muchísimos lectores. 
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/autor1.png"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h2>C. S. Lewis</h2>
              <p class="mt-1 text-sm text-gray-500 font-semibold">
                Fue un medievalista, apologista cristiano, crítico literario, novelista, académico y ensayista británico, reconocido por sus novelas de ficción como su aclamad saga Las crónicas de Narnia, y sus ensayos apologéticos.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/autor2.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h2>Kiera Cass</h2>
              <p class="mt-1 text-sm text-gray-500 font-semibold">
                Se graduó por la universidad de Radford en Historia. En su tiempo libre a Kiera le gusta sobre todo escribir, además de leer, bailar, jugar videos y comer grandes cantidades de pastel. 
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/autor3.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h2>Saint-exupéry</h2>
              <p class="mt-1 text-sm text-gray-500 font-semibold">
                Fue un aviador y escritor francés, autor de la famosa obra El principito. Desde 1932 Saint-Exupéry se consagró al periodismo y la escritura.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/autor4.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h2>Fátima Villalta</h2>
              <p class="mt-1 text-sm text-gray-500 font-semibold">
                Escritora nicaragüense matagalpina, quien a sus 16 años publica su primera obra, ama el género musical trova, y le fascina leer  y más aún escribir. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-20 relative block bg-gray-900">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white" style="font-size:35px;">
             Nuestras mejores citas
          </h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            A medida que envejecemos, la memoria y la función cerebral tienden a disminuir. Una forma de luchar contra ese proceso deprimente es leer. La lectura además de ser un pasatiempo, ayuda a estimular la curiosidad y el conocimiento sobre determinados temas. 
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center bg-red-400"
          >
            <i class="fas fa-quote-left"></i>
         </div>
          <h2 class="text-xl mt-5 font-semibold text-white">
            C. S. Pacat
          </h2>
          <p class="mt-2 mb-4 text-gray-500">
            "La mayoría de los hombres creen que el liderazgo es una cualidad que corre de forma natural por la sangre del heredero a un reino, no algo que deba ser forzado en él en contra de su propia naturaleza imperfecta."
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center  bg-red-400"
          >
          <i class="fas fa-quote-left"></i>
          </div>
          <h2 class="text-xl mt-5 font-semibold text-white">
            Og Mandino
          </h2>
          <p class="mt-2 mb-4 text-gray-500">
            "Amaré la luz porque me muestra el camino, pero soportare la oscuridad porque me muestra las estrellas.""
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center bg-red-400">
            <i class="fas fa-quote-left"></i>
          </div>
          <h2 class="text-xl mt-5 font-semibold text-white">
            Cassandra Clare
          </h2>
          <p class="mt-2 mb-4 text-gray-500">
           “Todos somos partes de lo que recordamos. Retenemos en nuestras almas los miedos y la esperanza de los que nos aman. Mientras que tengamos amor y memoria, nada estará realmente perdido.”
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
