div {
    width: 425px;
    height: 250px;
    color: white;
    margin: 5px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: zoom;
    transform: scale(0);
    transition-property: all;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    word-wrap: break-word;
}

@keyframes zoom {
    to {
        transform: scale(1);
    }
}
