<div class="w-full flex flex-col min-w-0 break-words bg-gray-900 w-full mb-8 shadow-lg rounded-lg lg:w-3/12">
    <div class="px-4 py-5 flex-auto"> 
  <h6 class="text-xl text-white font-semibold"> {{mensaje}} </h6>
  <p *ngFor="let dataItem of LibroList">
    {{dataItem.descripcion}}  
  </p>
  <br/>
    <button class="bg-red-600 active:bg-red-700 uppercase text-white font-semibold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 "
    type="button">
        <i class="fas fa-plus"></i>
    </button>
    </div>
</div>



