<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-gray-800 text-xl font-bold">Detalle de inventario de libro</h6>
      <button
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button" [routerLink]="['/admin/agregar-entradalibro']">
        Agregar entradas
      </button>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            ID Libro
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Libro
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Entrada
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Salida
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Stock
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            1
          </td>
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center">
            <span
              class="ml-3 font-bold"
              [ngClass]="color === 'light' ? 'text-gray-700' : 'text-white'">
              Cazadores de Sombras
            </span>
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            5
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            0
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            5
          </td>        
        </tr>  
        <tr>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            1
          </td>
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center">
            <span
              class="ml-3 font-bold"
              [ngClass]="color === 'light' ? 'text-gray-700' : 'text-white'">
              Cazadores de Sombras
            </span>
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            5
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            0
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            10
          </td>        
        </tr>     
      </tbody>
    </table>
  </div>
</div>
