<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0">
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h1 class="text-gray-800 text-xl font-bold">Agregar libro</h1>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form [formGroup]="form">
      <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase"></h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Titulo
            </label>
            <input formControlName="Titulo" [(ngModel)]="Titulo" name="Titulo" type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese título del libro" />
            <mat-error *ngIf="isValidField('Titulo')">
              {{getErrorMessageTitulo('Titulo')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Descripción
            </label>
            <input formControlName="Descripcion" [(ngModel)]="Descripcion" name="Descripcion" type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la descripción del libro" />
            <mat-error *ngIf="isValidField('Descripcion')">
              {{getErrorMessageDesc('Descripcion')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Cantidad de páginas
            </label>
            <input formControlName="CantidadPaginas" [(ngModel)]="CantidadPaginas" name="CantidadPaginas" type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la cantidad de páginas del libro" required/>
            <mat-error *ngIf="isValidField('CantidadPaginas')">
              {{getErrorMessage('CantidadPaginas')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              ISBN
            </label>
            <input formControlName="Isbn" [(ngModel)]="Isbn" name="Isbn" type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese el código del libro" />
            <mat-error *ngIf="isValidField('Isbn')">
              {{getErrorMessage('Isbn')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Año de publicación
            </label>
            <input formControlName="AnioPublicacion" [(ngModel)]="AnioPublicacion" name="AnioPublicacion" type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese el año de publicación del libro" />
            <mat-error *ngIf="isValidField('AnioPublicacion')">
              {{getErrorMessage('AnioPublicacion')}}
            </mat-error>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Autor
            </label>
            <select formControlName="AutorSeleccionado" [(ngModel)]="AutorSeleccionado" (change)="capturarAutor()"
              name="AutorSeleccionado"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione el autor</option>
              <option value={{autor.idAutor}} *ngFor="let autor of AutorList">{{autor.nombres}} {{autor.apellidos}}
              </option>
            </select>
            <mat-error *ngIf="isValidField('AutorSeleccionado')">
              {{getErrorMessage('AutorSeleccionado')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Editorial
            </label>
            <select formControlName="EditorialSeleccionada" [(ngModel)]="EditorialSeleccionada"
              (change)="capturarEditorial()" name="EditorialSeleccionada"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione la editorial</option>
              <option value={{editorial.idEditorial}} *ngFor="let editorial of EditorialList">{{editorial.nombre}}
              </option>
            </select>
            <mat-error *ngIf="isValidField('EditorialSeleccionada')">
              {{getErrorMessage('EditorialSeleccionada')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Categoría del libro
            </label>
            <select formControlName="CategoriaSeleccionada" [(ngModel)]="CategoriaSeleccionada"
              (change)="capturarCategoria()" name="CategoriaSeleccionada"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione la categoría</option>
              <option value={{categoria.idCategoria}} *ngFor="let categoria of CategoriaList">
                {{categoria.nombreCategoria}}</option>
            </select>
            <mat-error *ngIf="isValidField('CategoriaSeleccionada')">
              {{getErrorMessage('CategoriaSeleccionada')}}
            </mat-error>
          </div>
          <div class="relative w-full mb-3">
            <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
              Entradas
            </label>
            <input [(ngModel)]="Entrada" name="Entrada" type="number" formControlName="Entrada"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la cantidad de entradas del libro" />
              <mat-error *ngIf="isValidField('Entrada')">
                {{getErrorMessage('Entrada')}}
              </mat-error>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <button (click)="agregarLibro()"
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">Guardar</button>
          <button
            class="bg-white text-gray-800 active:bg-gray-100 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" [routerLink]="['/admin/libro']">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>