<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-gray-800 text-xl font-bold">Agregar libro</h6>      
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form>
      <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase"></h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Titulo 
            </label>
            <input
              [(ngModel)]="Titulo"
              name="Titulo"
              type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese título del libro"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Descripción
            </label>
            <input
              [(ngModel)]="Descripcion"
              name="Descripcion"
              type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la descripción del libro"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Cantidad de páginas
            </label>
            <input
              [(ngModel)]="CantidadPaginas"
              name="CantidadPaginas"
              type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la cantidad de páginas del libro"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              ISBN
            </label>
            <input
              [(ngModel)]="Isbn"
              name="Isbn"
              type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese el código del libro"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Año de publicación
            </label>
            <input
              [(ngModel)]="AnioPublicacion"
              name="AnioPublicacion"
              type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese el año de publicación del libro"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Autor
            </label>
            <select 
            [(ngModel)]="AutorSeleccionado" (change)="capturarAutor()"
            name="AutorSeleccionado"
            class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione el autor</option>
              <option value={{autor.idAutor}} *ngFor="let autor of AutorList">{{autor.nombres}} {{autor.apellidos}}</option>
            </select>
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Editorial
            </label>
            <select
            [(ngModel)]="EditorialSeleccionada" (change)="capturarEditorial()"
            name="EditorialSeleccionada"
            class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione la editorial</option>
              <option value={{editorial.idEditorial}} *ngFor="let editorial of EditorialList">{{editorial.nombre}}</option>
            </select>
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Categoría del libro
            </label>
            <select 
            [(ngModel)]="CategoriaSeleccionada" (change)="capturarCategoria()"
            name="CategoriaSeleccionada"
            class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150">
              <option disabled selected>Seleccione la categoría</option>
              <option value={{categoria.idCategoria}} *ngFor="let categoria of CategoriaList">{{categoria.nombreCategoria}}</option>
            </select>
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              Entradas
            </label>
            <input
              [(ngModel)]="Entrada"
              name="Entrada"
              type="number"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Ingrese la cantidad de entradas del libro"
            />
          </div>
        </div>
      </div>      
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <button
            (click)="addLibro()"
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">Guardar</button>
          <button
              class="bg-white text-gray-800 active:bg-gray-100 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" [routerLink]="['/admin/libro']">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
