<div class="text-center" style="padding:5px;">
  <div style="width:616px; height:400px; margin:5px;">
    
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="close()">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    
      <div class="px-4 py-5 flex-auto">
        <!--<h1>{{idLibro}}</h1>-->
          <h1 class="text-xl font-semibold">{{titulo}}</h1>
           <hr class="mb-4 border-b-1 border-gray-300">
           <br>
           <p class="text-xl" style="font-size:15px;"><b>Descripción:</b> {{descripcion}}</p>
           <p class="text-xl" style="font-size:15px;"><b>Cantidad de páginas:</b> {{cantidadPaginas}}</p>
           <p class="text-xl" style="font-size:15px;"><b>Categoría:</b> {{nombreCategoria}}</p>
           <p class="text-xl" style="font-size:15px;"><b>Autor:</b> {{nombres}} {{apellidos}}</p>
           <p class="text-xl" style="font-size:15px;"><b>ISBN:</b> {{isbn}}</p>
           <p class="text-xl" style="font-size:15px;"><b>Año de publicación:</b> {{anioPublicacion}}</p>
           <p class="text-xl" style="font-size:15px;"><b>Editorial:</b> {{nombre}}</p>
           <br>
          <button
          class="bg-gray-900 text-white active:bg-gray-900 font-semibold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          type="button">
          <i class="fas fa-cart-plus"></i>
          Agregar al Carrito
        </button>
      </div> 
  </div>
</div>
 



