<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
        <div class="rounded-t mb-0 px-6 py-6">
          <h1 class="text-gray-600 font-bold" style="text-align: center; font-size: 30px;">
              Crea tu cuenta
          </h1>
          <hr class="mt-6 border-b-1 border-gray-400" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nombres
              </label>
              <input
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Ingrese sus nombres"
              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Apellidos
              </label>
              <input
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Ingrese sus apellidos"
              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nombre de Usuario
              </label>
              <input
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Ingrese su nombre de usuario"
              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password" for="password"
              >
                Contraseña
              </label>
              <input
                type="password" id="password" name="password"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Ingrese su contraseña" required onkeyup="check_pass()"
              />
            </div>
            
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password" for="password2"
              >
                Confirme su Contraseña
              </label>
              <input
                type="password" id="password2" name="password2" 
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Confirme su contraseña" required onkeyup="check_pass()"
              />
              <span id='message'></span>
            </div>

            <div class="text-center mt-6" >
              <app-alerta-exito [hidden] = "!showAlert"></app-alerta-exito>
              <button
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit" id="submit" (click)="create()"
              >
               Crear cuenta
              </button>
            </div>
            <div class="text-center mt-2">    
              <button
                class="bg-white text-gray-800 active:bg-gray-100 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button" type="reset">
                Cancelar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function check_pass() {
      if (document.getElementById('password').value ==
          document.getElementById('password2').value) {
          document.getElementById('submit').disabled = false;
          document.getElementById('message').style.color = 'green';
          document.getElementById('message').innerHTML = 'Correcto';
      } else {
          document.getElementById('submit').disabled = true;
          document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = 'Deben ser iguales';
      }
  }
</script>
