<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-no-wrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-no-wrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
      ></a
    >
    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <a
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
      >Administrador</a
    >
    </ul>
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">    
      <li class="flex items-center">
        <button
          class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          type="button" (click)="onLogout()">
          Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>
</nav>
