<main>
  <section class="pt-20 pb-48">

    <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
      <div
        class="relative flex flex-col min-w-0 break-words bg-gray-900 w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto"> 
          <h6 class="text-xl text-white font-semibold">Excelencia y Calidad</h6>
          <p class="mt-2 mb-4 text-white" >
            Te brindamos la mayor y más excelente calidad en cuanto a servicio y experiencia de usuario. Además, nuestro libros presentan el mejor estado físico de cualquier otro sitio. 
          </p>
          <button
          class="bg-red-600 active:bg-red-700 uppercase text-white font-semibold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 "
          type="button"
         >
        <i class="fas fa-plus"></i>
        </button>
        </div>
      </div>
    </div>

    <!--Contenedores de los libros-->
    <div>
      <h1>Componente dinámico</h1>
        <label>Ingrese el mensaje</label>
         <input type="text" #mensaje><br/>
        <label><input type="checkbox" (change)="cambio($event.target.checked)" checked /> Color aleatorio</label><br/>
         <input type="color" #color [disabled]="cbox"><br/>
        <br/>
          <button (click)="componenteDinamico(mensaje.value, color.value)"> Crear Componente </button>
        <br/>  
        <div class="orden" >
          <div class="lg:pt-12 pt-6 w-full flex flex-wrap px-4 text-center">
            <ng-template appColordinamico></ng-template>
          </div>
        </div>
     <!--Contenedores de los libros-->
    </div>
  </section>  
</main>


