<main>
  <section class="pt-20 pb-48 bg-gray-200">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-12 px-4">
          <h1 class="text-4xl font-semibold" style="font-weight: bold;">
            <a><i class="fas fa-arrow-circle-left" [routerLink]="['/cliente/prestamos']"></i></a> Mis préstamos de libros</h1>
          <p class="text-lg leading-relaxed m-4 text-gray-600"></p>
          <app-card-detalle-prestamos-cliente></app-card-detalle-prestamos-cliente>
        </div>
      </div>
    </div>
  </section>  
</main>
