<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h1 class="text-gray-800 text-xl font-bold">Gestionar Libro</h1>
      <button
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button" [routerLink]="['/admin/entrada-libro']">
        Agregar entradas
      </button>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            ID Libro
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Titulo
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Descripción
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Cantidad de Páginas
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            ISBN
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Año de publicación
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Autor
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Editorial
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Categoría
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Opciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of LibroList">
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.idLibro}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center">
            <span
              class="ml-3 font-bold"
              [ngClass]="color === 'light' ? 'text-gray-700' : 'text-white'">
              {{dataItem.titulo}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.descripcion}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.cantidadPaginas}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.isbn}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.anioPublicacion}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.nombres}} {{dataItem.apellidos}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.nombre}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.nombreCategoria}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            <i class="fas fa-edit text-red-500 mr-4" [routerLink]="['/admin/editar-libro']"></i>
            <i class="fas fa-trash text-red-500 mr-4" [routerLink]="['/admin/libro']"></i>
          </td>          
        </tr>      
      </tbody>
    </table>
</div>
