<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h1 class="text-gray-800 text-xl font-bold">Gestionar Inventario</h1>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            ID Libro
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Libro
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Entrada
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Salida
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Stock
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-gray-100 text-gray-600 border-gray-200'
                : 'bg-red-800 text-red-300 border-red-700'">
            Opciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of TotalEjemplarList | paginate: {itemsPerPage: 7, currentPage: p}">
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.idLibro}}
          </td>
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center">
            <span
              class="ml-3 font-bold"
              [ngClass]="color === 'light' ? 'text-gray-700' : 'text-white'">
              {{dataItem.titulo}}
            </span>
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.totalEntradas}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.totalSalida}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            {{dataItem.totalStock}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            <i class="fas fa-search text-red-500 mr-4" [routerLink]="['/admin/inventario-detalle',dataItem.idLibro]"></i>
          </td>          
        </tr>      
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
